<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{/layout/layout}">
<section layout:fragment="content" class = "section-prod-list" >
    <div class="container">
        <div class="card-header">
            상품 상세 정보
        </div>
        <ul class=  "list-group list-group-flush gap-2">
            <li class="list-group-item">
                <img class ="w-full max-w-[300px] resize-image "src="https://i.imgur.com/PVsCFy1.png" alt="이미지 준비중">
            </li>
            <li class="list-group-item">
                <span>번호 : </span>
                <span class ="badge bg-secondary">123</span>
            </li>
            <li class="list-group-item">
                <span>상품명 : </span>
                <span class="font-bold" th:text="${product.name}"></span>
            </li>
            <li class="list-group-item">
                <span>등록 날짜 : </span>
                <span th:text="${#temporals.format(product.createDate,'yyyy-MM-dd HH:mm')}">2024-08-01</span>
            </li>
            <li class="list-group-item">
                <span>현재 가격 : </span>
                <span th:text="${product.price}"></span>
            </li>
            <li class="list-group-item">
                <span>입찰 단가 : </span>
                <span th:text="${product.bid_increment}"></span>
            </li>
            <li class="list-group-item">
                <span>제품 설명 : </span>
                <span th:text="${product.script}"></span>
            </li>
            <li class="list-group-item">
                <span>경매 종료일 : </span>
                <span th:text="${#temporals.format(product.createDate,'yyyy-MM-dd HH:mm')}">2024-08-01</span>
            </li>

            <!--스크립트 내용 넣어야 함-->
        </ul>
        <div class ="card mt-[30px]">
            <div class="card-header">
                장바구니 담기
            </div>
            <div class="card-body">
                <form th:action="@{|/cart/add/${product.id}|}" method="POST">
                    <input type="submit" value="장바구니 담기" class="btn btn-outline-warning">
                </form>
            </div>
        </div>


        <div class="card mt-[30px] mt-3">
            <div class="card-header">
                질문등록
            </div>
            <div class="card-body">
                <a sec:authorize="isAuthenticated()" th:href="@{/inquiry/create(productId=${product.id})}">질문 등록</a>
                <a sec:authorize="!isAuthenticated()" th:href="@{/member/login}">로그인</a>하기
            </div>
        </div>
        <div class="card mt-[30px] mt-3">
            <div class="card-header">
                질문 리스트
            </div>
            <ul th:if="${#lists.size(product.inquiryList) > 0}" class="list-group list-group-flush gap-2 card-body">
                <li th:each ="inquiry : ${product.inquiryList}" class="list-group-item ">
                    <span th:text = "${inquiry.id}" class="badge bg-secondary mr-2"></span>
                    <span th:text = "${inquiry.title}"></span>

                    <a th:href="@{|/inquiry/modify/${inquiry.id}|}"
                       class="btn btn-sm btn-info"
                       sec:authorize="isAuthenticated()"
                       th:if="${inquiry.member != null and #authentication.getPrincipal().getUsername() == inquiry.member.username}"
                    >
                        수정</a>
                    <a th:href="@{|/inquiry/delete/${inquiry.id}|}"
                       class="btn btn-sm btn-warning" onclick="if(confirm('정말 삭제하겠습니까?') == false) return false;"
                       th:if="${inquiry.member != null and #authentication.getPrincipal().getUsername() == inquiry.member.username}"
                    >
                        삭제</a>
                </li>
            </ul>
            <script>
                $(document).ready(function() {
                        $(window).on('beforeunload', function() {
                            sessionStorage.setItem('scrollPosition', $(window).scrollTop());
                    });

                    if (sessionStorage.getItem('scrollPosition')) {
                        $(window).scrollTop(sessionStorage.getItem('scrollPosition'));
                        sessionStorage.removeItem('scrollPosition');
                    }
                });

            </script>
        </div>
    </div>

</section>
</section>
</html>