<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{/layout/layout}">
<head>
    <style>
        .cart-item-img {
            width: 80px !important;
            height: 80px !important;
            object-fit: cover;
        }
    </style>
</head>
<body>
<section layout:fragment="content" class="section-cart-item-list">
    <div class="container">
        <h1 class="t-text-[1.5rem] t-font-bold flex justify-center pt-5 pb-5">
            <span th:if="${not #lists.isEmpty(bidList)}" th:text="${bidList[0].member.username}"></span>
            <span th:if="${not #lists.isEmpty(bidList)}" class="ml-2">님의 입찰기록</span>
            <span th:if="${#lists.isEmpty(bidList)}">입찰기록이 없습니다.</span>
        </h1>
        <div class="mt-5">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col"><input type="checkbox" class="form-check-input"><span> </span>전체선택</th>
                    <th scope="col">이미지</th>
                    <th scope="col">상품명</th>
                    <th scope="col">가격</th>
                    <th scope="col">입찰 시간</th>
                    <th scope="col">구매/삭제</th> <!-- 앞으로 구현할것 -->
                </tr>
                </thead>
                <tbody>
                <tr th:each="bid : ${bidList}">
                    <td><input type="checkbox" class="form-check-input"></td>
                    <td>
                        <img class="cart-item-img" th:src="@{${bid.product.imagePath}}" src="https://dsi523du1o5iq.cloudfront.net/fit-in/904x0/production/article/29d76a3633/68b4dc8436_1708705668" alt="상품이미지">
                    </td>
                    <td th:text="${bid.product.name}"></td>
                    <td th:text="${bid.bidPrice}"></td>
                    <td>
                        <a href="#" type="button" class="btn btn-link">구매</a>
                        <a href="#" type="button" class="btn btn-link">삭제</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
</body>
</html>
