<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{/layout/layout}">
<head>
    <style>
        .cart-item-img {
            width: 80px !important;
            height: 80px !important;
            object-fit: cover;
        }
        .cart-item-video {
            width: 80px !important;
            height: 80px !important;
            object-fit: cover;
        }
        .dimmed {
            opacity: 0.3; /* 흐림 효과 */
            pointer-events: none; /* 클릭 방지 */
        }
    </style>
</head>
<body>
<section layout:fragment="content" class="section-cart-item-list">
    <div class="container">
        <h1 class="t-text-[1.5rem] t-font-bold flex justify-center pt-5 pb-5">
            <span th:if="${not #lists.isEmpty(bidList)}" th:text="${bidList[0].member.username}"></span>
            <span th:if="${not #lists.isEmpty(bidList)}" class="ml-2">님의 입찰기록</span>
            <span th:if="${#lists.isEmpty(bidList)}">입찰기록이 없습니다.</span>
        </h1>
        <div class="mt-5">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col"><input type="checkbox" class="form-check-input"><span> </span>전체선택</th>
                    <th scope="col" >이미지</th>
                    <th scope="col">상품명</th>
                    <th scope="col">시작 가격</th>
                    <th scope="col">현재가</th>
                    <th scope="col">입찰 가격</th>
                    <th scope="col">입찰 성공 여부</th>
                    <th scope="col">다운로드</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="bid : ${bidList}" >
                    <td><input type="checkbox" class="form-check-input"></td>
                    <td th:class="dimmed">
                        <video th:src="${bid.product.videoPath}" class="cart-item-video" muted loop playsinline></video>
                    </td>
                    <td th:text="${bid.product.name}"></td>
                    <td th:text="${bid.product.startPrice}"></td>
                    <td th:text="${bid.product.price}"></td>
                    <td th:text="${bid.bidPrice}"></td>
                    <td>
                        <!-- 입찰 성공 여부에 따라 표시 -->
                        <span th:if="${bid.status == 'Y'}" class="text-success">입찰 성공</span>
                        <span th:if="${bid.status == 'N'}" class="text-danger">입찰 실패</span>
                        <span th:if="${bid.product.ongoing}" class="text-muted">경매 진행중</span>
                    </td>
                    <td>
                        <!-- 경매가 종료되었고 입찰이 성공한 경우 다운로드 링크 표시 -->
                        <a th:if="${bid.status == 'Y' && !bid.product.ongoing}" th:href="@{${bid.downloadLink}}" target="_blank">다운로드</a>
                        <span th:if="${bid.product.ongoing}" class="text-muted">경매 진행중</span>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
</body>
</html>
